.modal {
  z-index: 100;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.modal__header {
  width: 100%;
  padding: 1rem 0;
  background: #2a006e;
  color: white;
  text-align: center;
}

.modal__header h2 {
  margin: 0.5rem;
}

.modal__content {
  padding: 1rem 0;
}

.modal__footer {
  padding: 1rem 0;
  text-align: center;
}

@media (min-width: 768px) {
  .modal {
    width: 60%;
  }
}

.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
